<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>题库</title>
   <!-- <link rel="stylesheet" href="../third/layui/css/layui.css" media="all"> -->
    <link rel="stylesheet" href="../static/third/layui/css/layui.css" media="all">
</head>
<body>

<table class="layui-hide" id="test"></table>


<script type="text/javascript" src="../static/third/layui/layui.js"></script>
<script>
    //科目分类
    var subject={
        "JAVA":"JAVA",
        "C#":"C#",
        "C++":"C++",
        "SQL":"SQL",
        "PYTHON":"PYTHON",
        "JAVASCRIPT":"JAVASCRIPT",
        "CSS":"CSS",
        "HTML":"HTML",
        "WINDWOS":"WINDWOS",
        "LINUX":"LINUX"
    }

    //题目类型
    var type={
        "1":"选择题",
        "2":"填空题",
        "3":"解答题",
        "4":"开放题"
    }
    //题目难易程度
    var difficult={
        "A":"非常简单",
        "B":"简单",
        "C":"一般",
        "D":"有点难度",
        "E":"非常难"
    }
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#test'
            ,url:'/data/questionbank'
            ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                ,groups: 1 //只显示 1 个连续页码
                ,first: false //不显示首页
                ,last: false //不显示尾页

            }
            ,cols: [[
                {field:'id', width:80, title: 'ID', sort: true}
                ,{field:'username', width:100, title: '用户名'}
                ,{field:'sex', width:80, title: '性别', sort: true}
                ,{field:'city', width:80, title: '城市'}
                ,{field:'sign', title: '签名', minWidth: 150}
                ,{field:'experience', width:80, title: '积分', sort: true}
                ,{field:'score', width:80, title: '评分', sort: true}
                ,{field:'classify', width:80, title: '职业'}
                ,{field:'wealth', width:135, title: '财富', sort: true}
            ]]

        });
    });
</script>

</body>
</html>